@model IEnumerable<OnlineLibrary.Models.BookCheckinCheckout>

@{
    ViewData["Title"] = "ListCkeckOutBooks";
}

<h1>ListCkeckOutBooks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.readerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.readerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CheckOutId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CheckOutId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CheckOutId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
