@model IEnumerable<OnlineLibrary.Models.Book>

@{
    ViewData["Title"] = "ListBooks";
}

<h1>ListBooks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publishdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RevisionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publishdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookGenre)
            </td>
            <td>
               
            
                <img src="~/images/@item.BookImageUrl"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                @item.Title
            
            </td>
            <td>
                <a asp-action="EditBook" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
